* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    border: none;
    border-radius: 0;
}

#window {
    background-color: transparent;
    color: #282828;
    font-family: monospace;
    font-weight: bold;
}


window#waybar {
    background: #fbf1c7;
    color: #282828;
    border: 2px solid #282828;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #282828;
}

#workspaces button.active {
    color: #282828;
}

#workspaces button.urgent {
    background-color: #A54242;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #fbf1c7;
}

#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#clock,
#backlight,
#custom-powermenu {
    padding: 0 10px;
}

/* #workspaces,
#backlight,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#clock {
    border-top: 2px solid #282828;
    border-bottom: 2px solid #282828;
} */

#workspaces,
#backlight,
#custom-powermenu {
    border-left: 2px solid #282828;
}

#custom-powermenu,
#workspaces,
#network,
#battery,
#clock {
    border-right: 2px solid #282828;
}

#backlight,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#clock {
    color: #282828;
}

/* Progress bars for volume and backlight */
#pulseaudio.muted {
    color: #665c54;
}

/* Battery states */
#battery.charging {
    color: #98971a;
}

#battery.warning:not(.charging) {
    color: #d79921;
}

#battery.critical:not(.charging) {
    color: #cc241d;
}
