* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    border: none;
    border-radius: 0;
}

#window {
    background-color: transparent;
    color: #282828;
    font-weight: bold;
}


window#waybar {
    background: #fbf1c7;
    color: #282828;
    border-top: 3px solid #282828;
    border-bottom: 3px solid #282828;
}

window#waybar:hover {
    background: red;
}

tooltip {
    background: #ebdbb2;
    border: 3px solid #282828;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    font-weight: 300;
    color: #282828;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #282828;
}

#workspaces button.active {
    color: #282828;
}

#workspaces button.urgent {
    background-color: #A54242;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    /*background: #ebdbb2;
    border-top: 3px solid #282828;
    border-bottom: 3px solid #282828;*/
}

#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#clock,
#backlight,
#custom-powermenu {
    padding: 0 10px;
}

#custom-powermenu,
#workspaces,
#cpu,
#network {
    border-left: 3px solid #282828;
}

#custom-powermenu,
#workspaces,
#bluetooth,
#battery,
#clock {
    border-right: 3px solid #282828;
}

#custom-powermenu,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#battery,
#clock {
    color: #282828;
}

#custom-powermenu:hover,
#backlight:hover,
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#clock:hover {
    background: #ebdbb2;
    border-top: 3px solid #282828;
    border-bottom: 3px solid #282828;
}

/* Progress bars for volume and backlight */
#pulseaudio.muted {
    color: #665c54;
}

/* Battery states */
#battery.charging {
    color: #98971a;
}

#battery.warning:not(.charging) {
    color: #d79921;
}

#battery.critical:not(.charging) {
    color: #cc241d;
}
